EMNIST_data/
*.zip
*.gz

flower_data/
corrupted_flower_data/
*.jpg
*.mat

# datasets
**/cifar_100/
**/*.tar.gz

# datasets
dataset/
**/dataset/
**/data/
**/raw/
**/FashionMNIST/

# python junk
__pycache__/
*.pyc
.DS_Store

# model files
*.pth
*.pkl